<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<ul>
    <li><a href="{% url 'Pirates Form:Recruitment Form' %}">Recruitment Form</a> </li>
    <li><a href="{% url 'Pirates Form:Applicant List' %}">Applicants List</a></li>
    <li><a href="{% url 'Pirates Form:Applicant Interviewed List' %}">Interviewed Applicants</a> </li>
    <li><a href="{% url 'Pirates Form:Applicant Not Interviewed List' %}">Non Interviewed Applicants</a> </li>
    <!-- <li><a href="{% url 'Pirates Form:TimeSlot List' %}">Timeslot list</a> </li> -->
    <li><a href="{% url 'Pirates Form:University List' %}">University List</a></li>


</ul>
</body>
</html>