{% extends 'form/base_list.html' %}
{% load date_format %}

{% block content %}
<h2>Applicants Table</h2>
{% endblock %}
{% block content2 %}
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Phone</th>
        <th>University</th>
        <th>Faculty</th>
        <th>Department</th>
        <th>Academic Year</th>
        <th>1st preference</th>
        <th>2nd preference</th>
        <th>Time Slot</th>
       
    </tr>
    {% for formappliermodel in formappliermodel_list %}
        {% if formappliermodel.is_interviewed %}
        <tr>
            <td>{{ formappliermodel.first_name }} {{ formappliermodel.last_name }}</td>
            <td>{{ formappliermodel.email }}</td>
            <td>{{ formappliermodel.mobile_number }}</td>
            {% if formappliermodel.university == null %}
                <td>{{ formappliermodel.university_other }}</td>
            {% else %}
                <td>{{ formappliermodel.university.university }}</td>
            {% endif %}
            {% if formappliermodel.faculty == null %}
                <td>{{ formappliermodel.faculty_other }}</td>
            {% else %}
                <td>{{ formappliermodel.faculty.faculty }}</td>
            {% endif %}
            {% if formappliermodel.department == 'other' %}
                <td>{{ formappliermodel.department_other }}</td>
            {% else %}
                <td>{{ formappliermodel.department }}</td>
            {% endif %}
        <td>{{ formappliermodel.academic_year }}</td>
            <td>{{ formappliermodel.first_preference}}</td>
            <td>{{ formappliermodel.second_preference}}</td>
            <td>{{ formappliermodel.time_slot.date|date2day}} -- {{ formappliermodel.time_slot.date}} -- {{ formappliermodel.time_slot.time }}  </td>
         
        </tr>
        {% endif %}
    {% endfor %}

</table>

        </br>
    <a href="{% url 'Pirates Form:Admin Panel' %}">Admin Panel</a>

{%endblock%}

